@model AvailableAddViewModel

@foreach (var hour in Model.WorkingHours)
{
    <input type="checkbox" class="btn-check" id="btn-check-outlined_@hour.Id" autocomplete="off" @if (Model.DateOfAvailables!=null)
    {
       @(Model.DateOfAvailables.Any(x=>x.WorkingHoursId==hour.Id)? "checked" : "")
       }>
    <label class="btn btn-outline-primary" for="btn-check-outlined_@hour.Id"> @hour.Hour</label>
}