@model List<UserViewModel>
@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <h1 class="display-4">Admin Panel</h1>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Resim</th>
            <th>Adı</th>
            <th>Soyadı</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {

            <tr>
                <td><img src="~/Images/@user.ImageUrl" width="75" height="75"/></td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
            </tr>
        }
    </tbody>
</table>
