@model AvailableViewModel
@{
    var i = 0;
}
@foreach (var item in Model.GroupDate)
{
    i++;
    <div class="accordion mt-5" id="accordionAvailable_@item">
        <div class="accordion-item">
            <h2 class="accordion-header" id="availableHeading_@item">
                <button class="accordion-button collapsed  p-4" type="button" data-bs-toggle="collapse"
                        data-bs-target="#available_@item.DayOfYear" aria-expanded="true"
                        aria-controls="available_@item">
                    @item
                </button>
            </h2>

            <div id="available_@item.DayOfYear" class="accordion-collapse collapse" aria-labelledby="availableHeading_@item">
                <div class="accordion-body">
                    <span>
                        @foreach (var available in Model.ActiveAvailable)
                        {
                            @if (item == available.Date)
                            {
                                <input type="checkbox" class="btn-check" id="btn-check-outlined_@available.Id" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btn-check-outlined_@available.Id"> @available.WorkingHours.Hour</label>
                            }
                        }
                    </span>
                </div>
            </div>


        </div>
    </div>
}
